
body {
    font-family:monospace;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    background-color: #2c742e; 
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

